<%- include('./common/header') %>
<div class="container-fluid">
    <div class="row"> 
        
        <div class="col-md-6 mt-3">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#bookModal">
                Add Book
            </button>
        </div>
        
        <div class="col-md-12">
            <h3 class="text-center">Book List</h3>
            <table id="books" class="table table-striped table-bordered dt-responsive nowrap" style="width: 100%;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Book Name</th>
                        <th>Book Author</th>
                        <th>Book Pages</th>
                        <th>Book Price</th>
                        <% if (records && records.length > 0) { %> 
                            <th>Action</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% if (records && records.length > 0) { %>
                        <% records.forEach(function(book, index) { %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= book.book_name %></td>
                                <td><%= book.book_author %></td>
                                <td><%= book.book_pages %></td>
                                <td><%= book.book_price %></td>
                                <td>
                                    <button class="btn btn-primary btn-sm edit-btn" data-toggle="modal" data-target="#bookModal" data-book_id="<%= book.book_id %>" data-book_name="<%= book.book_name %>" data-book_author="<%= book.book_author %>" data-book_pages="<%= book.book_pages %>" data-book_price="<%= book.book_price %>">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm delete-btn" data-book_id="<%= book.book_id %>">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="5" class="text-center">No records found.</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookModalLabel">Add Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bookForm" action="/" method="post" autocomplete="off" novalidate>
                    <input type="hidden" name="book_id" id="book_id">

                    <div class="form-group">
                        <label for="book_name">Book Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="book_name" id="book_name" placeholder="Book Name" required>
                        <div class="invalid-feedback">Enter the Book Name</div>
                    </div>

                    <div class="form-group">
                        <label for="book_author">Author Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="book_author" id="book_author" placeholder="Author Name" required>
                        <div class="invalid-feedback">Enter the Author Name</div>
                    </div>

                    <div class="form-group">
                        <label for="book_pages">Book Pages <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="book_pages" id="book_pages" placeholder="Book Pages" required>
                        <div class="invalid-feedback">Enter the Pages</div>
                    </div>

                    <div class="form-group">
                        <label for="book_price">Book Price <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="book_price" id="book_price" placeholder="Book Price" required>
                        <div class="invalid-feedback">Enter the Price</div>
                    </div>

                    <button type="submit" id="savebtn" class="btn btn-sm btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('./common/footer') %>